*{
    background-color: rgb(1, 2, 0);
    padding-left: 10%;
}
.pedazogif{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    padding-left: 10%;
}
.onlypadding{
    padding-right: 50%;
}
.psyduck{
    border-radius: 15em;
}
.Return{
    color: aliceblue;
    display: flex;

}
a:hover{
    color:rgb(231, 225, 188) ;
}
a:link{
    color: gainsboro;
    text-decoration: none;

}
a:visited{
  
    color:rgb(221, 196, 159) ;
}


.video1{

    display: flex;
    flex-direction: row-reverse;
    padding-top: 6%;
}
video{
    background-color: rgb(165, 177, 233);
    border-radius: 5em;
}

