body{
    background-color: rgb(80, 94, 80);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}
h1{
    color:rgb(147, 190, 98) ;
    display: flex;
    justify-content: center;
}
h2{
    color:rgb(147, 190, 98) ;
    display: flex;
    justify-content: center;
}
.Tabla_info{
    background-color: rgb(50, 71, 53);
    text-align: center;
    color: rgb(255, 217, 0);
}
.Tabla_adicional{
    background-color:  rgb(50, 71, 53);
    color: rgb(255, 217, 0);
}
.Tabla_evolucion{
      background-color:  rgb(50, 71, 53);
    color: rgb(255, 217, 0);

}
img{
    background-color: rgb(173, 238, 143);
    border-radius: 2em;
}
.img_back{
    background-color:rgb(147, 190, 98) ;

}
.div_t1{
    display: flex;
    justify-content: center;
  
}
.div_tabla{
    display: flex;
    justify-content: center;
    background-color:rgb(147, 190, 98) ;
    border-radius: 1em;
   margin-left: 15%;
   width: 70%;
  
}
footer{
display: flex;
align-items: center;
justify-content: center;
}

