body {
    background-color: beige;
}
#Retorno{
    margin-top: 10%;
   
    
}
h2{
    display: flex;
    align-items: center;
}
#cabecera {
    display: flex;
    justify-content: center;
    background-color: rgb(123, 226, 169);
    border-radius: 45%;
}
#CabeceraTexto{
    
    border-radius: 15%;

}
.cuadro{
    display:flex;
    justify-content: center;
    border-radius: 1em;
    background-color: aquamarine;
    
}
.agua{
background-color: blue;
}
.planta{
background-color: green;
}
.fuego{
 background-color: red;
}
.NoEficaz{
background-color: gray;
}
.MuyEficaz{
background-color: rgb(109, 180, 1);
}
.tipo{
    background-color: rgb(250, 203, 146);
}
.tableheader{
    background-color: rgb(224, 176, 116);
}
.Elige1{
    display: flex;
    justify-content: center;
    background-color: rgb(30, 131, 122);
    border-radius: 1em;
    
}
.ImagenIniciales{
    border-radius: 8em;
    width: 450px;
    height: 250px;
}
p{     
    display: flex;
    justify-content: center;
}
.EleccionInicial{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(30, 131, 122);
    border-radius: 1em;
}
.squirtle{
    background-color: rgb(114, 178, 238);
    border-radius: 20%;
}
.bulbasaur{
    background-color: rgb(145, 238, 153);
    border-radius: 20%;
}
.charmander{
    background-color: rgb(219, 141, 147);
    border-radius: 20%;
}
.oak{
    display: flex;
    justify-content: center;
    border-radius: 1em;
    background-color: black;
}
.oak_img{
    border-radius: 1em;
    height: 70%;
    width: 20%;
}
a:hover {
    background-color: rgb(176, 149, 207);
    color: rgb(2, 2, 2);
}
a:link{
  text-decoration: none;
  
}
a:visited{
    color: rgb(5, 3, 1);
}
